.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-block {
  text-align: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
    gap: 70px;
    text-align: initial;
  }
}

.wrap{
  @media screen and (min-width: 768px) and (max-width:1199px)  {
    display: flex;
    gap: 165px;
    justify-content: center;
  }
}

.logo-first-word {
  color: $accent-color;
}
.logo-white-word {
  color: #ffffff;
}

.adress {
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer_social_list {
  display: flex;
  gap: 10px;
  padding: 0;
  justify-content: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.footer-social-link {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}

.social-link-svg {
  fill: white;

  .footer-social-link:hover,
  .footer-social-link:focus & {
    fill: currentColor;
  }
}

.subscribe-form {
  @media screen and (min-width: 1200px) {
    margin-left: 23px;
  }
}

.subscribe-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  display: block;
  margin-bottom: 20px;
}

.subscribe-form-div {
    @media screen and (min-width: 1200px){
  display: flex;
  align-items: baseline;
  gap: 12px;
  }
}

.subscribe-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px;
  width: 450px;
  display: inline-flex;
  outline: none;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px){
     width: 358px;
     margin-bottom: 0;
  }
}

.submit-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;

   @media screen and (min-width: 1200px){
      margin-right: 0;
  margin-left: 0;
  }
}

.subscribe-form-svg {
  margin-left: 10px;
}
