.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 93px;
  left: 15px;
  transform:  scale(1) rotate(0);
  width: 450px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 1000ms;
  padding: 40px;

  .backdrop.is-hidden & {
  transform: scale(0.2) rotate(45deg);
}}

@media screen and (min-width:1200px) {
  width: 528px;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  .backdrop.is-hidden & {
  transform: translate(-50%, -50%) scale(0.2) rotate(45deg);
  
}
}


.modal-close-btn {
  position: absolute;
  padding: 6px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 33px;
  height: 33px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

.modal-close-btn:hover & {
  fill: #2196f3;
}
}

.modal-close-svg {
  position: absolute;}


.register-form {
  margin-top: 12px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-label {
  display: block;
}

.modal-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.modal-svg-holder {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
  fill: #2196f3;
}
}


.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 43px;
  margin-bottom: 10px;
  outline: none;
  font-size: 12px;
  color: var(--secondary-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
  border-color: #2196f3;
}
}


.modal-svg {
  position: absolute;
  bottom: 45%;
  left: 3%;
}



.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: none;
  color: var(--secondary-text-color);

  &:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}
  &:focus-within {
  border-color: #2196f3;
}
}


.text-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  user-select: none;

  @media screen and (min-width:1200px) {
    font-size: 14px;
     line-height: 1.71;
  }
}

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.4px;
  margin-top: 15px;
}

.check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .register-svg .check {
  opacity: 1;
}

.modal-checkbox:checked + .register-svg .uncheck {
  opacity: 0;
}

.agreement-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  text-underline-position: under;

    @media screen and (min-width:1200px) {
    font-size: 14px;
     line-height: 1.71;
  }
}

.modal-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  padding: 10px 52px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
